<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Jogo Quiz</title>
</head>
<body>
    <div class="row">
        <div class="panel panel-default painel-home">
            <div class="panel-heading">
                <h3 class="panel-title">Selecione um módulo</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="panel panel-default painel-home-modulo">
                            <div class="panel-body painel-home-modulo-body">
                                <img src="./images/perfil.png">
                            </div>
                            <a href="#!ProfessorLogin">
                                <div class="panel-footer painel-home-modulo-bottom">
                                    Professor
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default painel-home-modulo">
                            <div class="panel-body painel-home-modulo-body">
                                <img src="./images/perfil.png">
                            </div>
                            <a href="#!Aluno">
                                <div class="panel-footer painel-home-modulo-bottom">
                                    Aluno
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>