<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Jogo Quiz</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 painel-professor-login-header">
                <button type="button" class="btn btn-default pull-right" >
                    <a href="/"> Inicio</a>
                </button>
            </div>
            <div class="col-md-12 painel-professor-login-body">
                <div class="col-md-3">
                    <div class="panel panel-default painel-home-modulo">
                        <div class="panel-body painel-home-modulo-body">
                            <img src="./images/perfil.png">
                        </div>
                        <div class="panel-footer painel-home-modulo-bottom">
                            Professor
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right btn-entrar">
                            <a href="#!LoginProfessor">Entrar</a>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right">
                            <a href="/"> Cadastrar </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
   </div>
</body>
</html>